<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Twitter Crowd Review</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
        <link href="{{ MEDIA_URL }}css/bootstrap-responsive.css" rel="stylesheet">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
                background: #000035;
            }
        </style>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#"><font color="white">Y! HackU </font></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="">
                            <a href="./javascript.html">Demo</a>
                            </li>
                            <li class="">
                            <a href="./customize.html">Details</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class='container'>
            <div class='row'>
                {% block content %}
                <div class="well"> working? </div>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
