{% extends 'base.html' %}
{% block content %}
<div class="span4-offset3">
    <center>
        <div class="well span4 offset3">
            <h4>Enter the name of the movie (without spaces)</h4><br>
            <form action='' method='POST'>
                <input type='text' label='something' name='movie'><br>
                <input type='submit' class='btn btn-large btn-primary' label='something'>
            </form>
        </div>
    </center>
</div>
<div class="span4-offset3">
<div class="well span4">
    <center>
        <h4> CrowdSourced Rating is </h4><br><h2>{{rating}}</h2>
    </center>
</div>
</div>
<table class='table span3'>
    <tr><th>CrowdSourced</th>
        <th>IMDB</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>
{% endblock %}

